h1{
    color:#fff;

}
h2{
    color:black;
    font-size: 100px;
}
#card2{
    padding:30px;
    margin-top:50px;
    background-color:rgba(218, 247, 166  ,0.5)    ;
}
h4{
    color:#fff;
}
.fas{
color:royalblue;
}
#btn1{
    margin-top:50px;
}
#mycardid{
    margin-top:50px;
    
}
#quote{
    margin-top:15px;
    color:#fff;
}
